{
  "presets": ["react-app"],
  "plugins": [
    ["ramda"],
    [
      "module-resolver",
      {
        "root": ["./src"]
      }
    ],
    "@babel/plugin-proposal-nullish-coalescing-operator",
    "@babel/plugin-proposal-optional-chaining"
  ],
  "env": {
    "production": {
      "plugins": [
        [
          "emotion",
          {
            "hoist": true
          }
        ],
        [
          "react-remove-properties",
          {
            "properties": ["data-testid"]
          }
        ],
        [
          "react-intl",
          {
            "messagesDir": "./build/messages/"
          }
        ]
      ]
    },
    "development": {
      "plugins": [
        "react-hot-loader/babel",
        [
          "emotion",
          {
            "sourceMap": true,
            "autoLabel": true
          }
        ]
      ]
    }
  }
}
