{
  "extends": [
    "react-app",
    "plugin:jsx-a11y/recommended",
    "plugin:flowtype/recommended",
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  "env": {
    "jest": true,
    "browser": true,
    "cypress/globals": true
  },
  "plugins": [
    "jsx-a11y",
    "cypress",
    "import",
    "json",
    "flowtype",
    "prettier",
    "graphql",
    "react",
    "react-hooks"
  ],
  "rules": {
    "graphql/template-strings": [
      "warn",
      {
        "env": "apollo"
      }
    ],
    "react/jsx-filename-extension": 0,
    "react/default-props-match-prop-types": ["error", { "allowRequiredDefaults": true }],
    "react/require-default-props": 0,
    "jsx-a11y/label-has-for": 0,
    "jsx-a11y/label-has-associated-control": 0,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "import/prefer-default-export": "warn",
    "import/no-cycle": "warn"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules", "src/"]
      }
    },
    "react": {
      "flowVersion": "0.88"
    }
  }
}
