{
  "presets": ["react-app"],
  "plugins": [
    ["react-require"],
    ["ramda"],
    [
      "module-resolver",
      {
        "root": ["./src"]
      }
    ],
    [
      "emotion",
      {
        "sourceMap": true,
        "autoLabel": true
      }
    ]
  ]
}
